<div class="card">
  <div class="card-body">
    <h1> About </h1>
    <p>El departamento de recursos humanos de la empresa Taller de Node.js S.A. de C.V. actualmente
almacena en un documento de Excel los datos de sus empleados.
Esta aplicación ayudara afiecientar el manejo de altas, bajas y cambios en sus empleados. </p>
  </div>
</div>
