<div class="jumbotron mt.4">
<h1 class="display-4"> Proyecto Finale </h1>
<p class="lead">Para nacer se tarda un poco, para morirse un ratito.</p>
<hr class="my-4">
<p><b>Desarrollado por: Kenny Azael Enriquez Villeda y Jesus Omar Pedraza Cruz, como proyecto final del taller de Node.js.
  Si desean saber más acerca de un desarrollador puede visitar su Instagram presionando el botón de abajo.</b></p>
  <p>Pd. El otro desarrollador no tiene instagram. </p>
  <a href="https://www.instagram.com/kenny_envi/" class="btn btn-primary btn-lg"> Ig </a>
</div>
